.main-container {
    -fx-background-color: #E4D7EA;
}

.button {
    -fx-background-color: #C9AAD9;
    -fx-text-fill: black;
    -fx-border-color: grey;
    -fx-border-width: 0.5px;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #BB94CF;
}